<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">Create new Account</h2>
            <form action="/signup" method="POST">
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input type="Name" class="form-control" name="Name" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label for="Email Address">Email id</label>
                    <input type="email" class="form-control" name="Email" placeholder="Enter Email id">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                
                <button type="submit" class="btn btn-primary float-right">Login</button>
            </form>
        </div>
    </div>
</div>